@{
    ViewData["Title"] = "Jokes application";
}

<div class="text-center">
    <h1 class="display-4">Joke Application</h1>
    <p>The foremost autority for good humor that you will find anywhere on your local host.</p>
</div>
